.contact {
  margin-bottom: 20px;
  &-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &-info {
    font-size: 20px;
  }

  &-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    margin: 10px 0;
  }

  &-local {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  &-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  &-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
  }

  &-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }
  &-website {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }
  &-facebook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }

  &-hotline {
    text-align: right;

    h3 {
      @include text-gradient-primary;
      font-size: 52px;
      font-weight: 900;
      font-style: italic;
      text-transform: capitalize;
    }
    h2 {
      @include text-gradient-secondary;
      font-size: 40px;
      font-weight: 900;
      font-style: italic;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: $xxl) {
  .contact {
    &-hotline {
      h3 {
        font-size: 42px;
      }
      h2 {
        font-size: 28px;
      }
    }

    &-info {
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: $lg) {
  .contact {
    margin-top: 80px;
    &-hotline {
      h3 {
        font-size: 38px;
      }
      h2 {
        font-size: 18px;
      }
    }

    &-info {
      p {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: $md) {
  .contact {
    &-hotline {
      h3 {
        font-size: 28px;
      }
      h2 {
        font-size: 12px;
      }
    }

    &-info {
      .logo {
        width: 170px;
        height: 60px;
      }
      p {
        font-size: 12px;
      }
    }

    &-social {
      column-gap: 10px;
    }
  }
}
@media (max-width: $xs) {
  .contact {
    margin-top: 20px;

    &-content {
      flex-direction: column;
    }
    &-hotline {
      margin-top: 12px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      h3 {
        font-size: 32px;
      }
      h2 {
        font-size: 22px;
      }
    }

    &-info {
      width: 100%;
      .logo {
        width: 200px;
        height: 60px;
      }
      p {
        font-size: 12px;
      }
    }

    &-address {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 12px;
      margin: 12px 0;
      img {
        width: 17px;
        height: 20px;
      }
    }

    &-social {
      row-gap: 12px;
      flex-direction: column;
      align-items: flex-start;
      img {
        width: 20px;
        height: 18px;
      }
      column-gap: 10px;
    }
  }
}
