.feedback {
  // padding: 40px 0;
  overflow: hidden;
  &-content {
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  &-item {
    width: 192px;
    height: 126px;
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.3);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      transform: scale(1);
      cursor: pointer;
    }

    &:nth-child(12) {
      grid-column: 2 / span 2;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .item-detail {
        display: inline-block;
        h3 {
          font-size: 20px;
          font-weight: 600;
          font-style: italic;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
  .item-slider {
    grid-column: 4 / span 4;
    grid-row: 3 / span 2;
    width: 100%;
    height: 100%;

    .slider-container {
      overflow-x: hidden;
      padding: 10px 30px;
      width: 100%;
      height: 252px;

      .swiper-wrapper {
        height: 96%;
      }

      .slider-item {
        // .pagination-toggle {
        //   display: flex;
        //   align-items: center;
        //   justify-content: flex-end;
        //   font-size: 35px;
        //   width: 100%;
        //   bottom: 0;
        //   display: flex;
        //   align-items: center;
        //   justify-content: flex-end;

        //   .toggle-left,
        //   .toggle-right {
        //     cursor: pointer;
        //   }
        // }
        .slider-box-fancy {
          display: flex;
          align-items: center;
          justify-content: center;

          .slider-image {
            width: 150px;
            height: 150px;
            -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
            box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
            border-radius: 66% 34% 32% 68% / 68% 72% 28% 32%;
            transform: scale(1);
          }
        }

        .slider-box-quote {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 95%;

          h3 {
            font-size: 20px;
            font-weight: 600;
            font-style: italic;
          }

          p {
            font-size: 12px;
          }
        }
      }

      .slider-toggle {
        justify-content: flex-end;
        padding-right: 25px;

        .swiper-pagination-bullet-active {
          background: $clrOrange;
        }
      }

      .slider-pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .pagination-number {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          column-gap: 10px;

          p {
            font-size: 18px;
            font-weight: 300;
          }

          i {
            font-size: 22px;
            color: #ff0000;
          }
        }
      }
    }
  }
}

@media (max-width: $xxxl) {
  .feedback {
    &-grid {
      grid-template-columns: repeat(10, minmax(150px, 1fr));
    }
  }
}

@media (max-width: $xxl) {
  .feedback {
    &-grid {
      grid-template-columns: repeat(10, minmax(140px, 1fr));
      img {
        width: 72%;
      }
    }

    .box-status {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }
  }
}

@media (max-width: $lg) {
  .feedback {
    .item-slider {
      grid-column: 3 / span 4;
    }
  }
}

@media (max-width: $md) {
  .feedback {
    .box-status {
      grid-row: 2 / span 1;
      grid-column: 3 / span 2;
    }
    .item-slider {
      grid-column: 2 / span 4;
      grid-row: 3 / span 2;
    }
  }
}
@media (max-width: $xs) {
  .feedback {
    .box-status {
      display: none;
    }
    .item-slider {
      grid-column: 1 / span 3;
      grid-row: 3 / span 2;

      .slider-container {
        .slider-pagination {
          padding-right: 30px;
        }
        .slider-toggle {
          padding-right: 50px;
        }
      }
    }
  }
}
