.service {
  width: 100%;
  min-height: 110vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../image/service-image-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: $z-index-0-1;
  }

  .fragment {
    width: 40%;
  }

  &-main {
    width: 60%;
    display: flex;
    align-items: center;
    .service-content {
      background: #fff;
      -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
      display: flex;
      position: relative;
      align-items: center;
      width: 900px;
      height: 900px;
      right: -100px;
      bottom: -50px;
      border-radius: 70% 30% 30% 70% / 36% 37% 63% 64%;

      .shape {
        position: absolute;
        left: 15px;
        width: 85%;
        height: 85%;
      }

      .service-detail {
        .service-title {
          position: absolute;
          top: 8px;
          right: 130px;
          text-align: right;

          h3 {
            text-transform: capitalize;
            font-size: 100px;
            font-weight: 900;
            font-style: italic;
            @include text-gradient-primary;
          }
        }
        p {
          font-size: 25px;
          font-weight: 500;
          text-transform: uppercase;
          font-style: italic;
          span {
            color: $clrOrange;
          }
        }
        .service-list {
          font-size: 18px;
          line-height: 1.5;
          position: absolute;
          top: 180px;
          padding-left: 66px;
          z-index: 99;

          .service-item {
            font-family: $fontSecondary;
            display: flex;
            align-items: flex-start;
            column-gap: 10px;
          }
        }
        .service-slider {
          position: absolute;
          bottom: 30px;
          right: -135px;

          .slider-list {
            position: relative;
            width: 1000px;
            height: 519px;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            left: -40px;
            .slider-item {
              img {
                height: 500px;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .slider-toggle {
          display: flex;
          align-items: flex-end;
          position: absolute;
          bottom: 0;
          left: 539px;
          width: 100%;
          z-index: 999;

          .swiper-pagination-bullet-active {
            background: $clrOrange;
          }
          p {
            font-size: 60px;
            font-weight: 300;

            span {
              font-size: 25px;
              font-weight: 400;
              color: $clrOrange;
            }
            .active {
              color: $clrOrange;
            }
            i {
              cursor: pointer;
              color: gray;
              font-size: 8px;
              margin-left: 10px;
            }
          }
        }

        .service-btn {
          position: absolute;
          bottom: 100px;
          right: -50px;
          z-index: 999;
        }
      }
    }
  }
}

@media (max-width: $xxxl) {
  .service {
    &-content {
      .service-main {
        width: 850px;
        height: 881px;
      }
    }
  }
}

@media (max-width: $xxl) {
  .service {
    min-height: 120vh;
    .service-main {
      .service-content {
        width: 700px;
        height: 700px;
        right: -100px;
        bottom: -90px;

        .service-detail {
          .slider-toggle {
            left: 482px;
          }

          .service-btn {
            right: -30px;
          }

          .service-list {
            top: 142px;
            font-size: 16px;
          }

          .service-title {
            top: 5px;
            right: 113px;
            h3 {
              font-size: 70px;
            }
            p {
              font-size: 18px;
            }
          }

          .service-slider {
            right: -65px;
            .slider-list {
              width: 800px;
              height: 323px;
              left: 100px;

              .slider-item {
                img {
                  height: 340px;
                  width: 642px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .service {
    padding: 80px 0;
    min-height: fit-content;
    &::after {
      left: 70px;
      width: 100%;
      background-size: contain;
    }

    .fragment {
      display: none;
    }

    &-main {
      justify-content: center;
      width: 100%;

      .service-content {
        align-items: flex-start;
        position: relative;
        border-radius: 30px;
        bottom: 0 !important;
        right: 0 !important;
        &::after {
          content: '';
          background: url('../image/Shape\ 1.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: $z-index-1;
        }

        .shape {
          display: none;
        }

        .service-detail {
          width: 100%;
          height: 100%;
          .service-title {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 10px 30px;
            position: relative;
            z-index: 101;
          }
          .service-list {
            z-index: 101;
            top: 0 !important ;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 10px 30px;
            position: relative;
          }

          .service-slider {
            top: -90px;
            right: 0 !important;
            position: relative;
            z-index: 100;

            .slider-list {
              width: 100% !important;
              height: 100% !important;
              position: unset;
            }
          }

          .service-button {
            .service-btn {
              right: -111px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $md) {
  .service {
    &-main {
      .service-content {
        .service-detail {
          .slider-toggle {
            left: 555px !important;
          }

          .service-button {
            .service-btn {
              right: 33%;
              bottom: -20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .service {
    &-main {
      .service-content {
        width: 85% !important;

        .service-detail {
          .service-title {
            text-align: center;

            h3 {
              font-size: 26px !important;
            }
            p {
              font-size: 14px !important;
            }
          }

          .service-list {
            font-size: 14px !important;
            padding: 10px 20px !important;
          }

          .service-button {
            .service-btn {
              font-size: 12px;
              right: 24%;
            }
          }
        }
      }
    }
  }
}
