.subscribe {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 100vh;
  overflow: visible;
  // padding: 40px 0;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: -430px;
  //   width: 100%;
  //   height: 100%;
  //   background: url(../image/subscribe-shape.png);
  //   background-repeat: no-repeat;
  //   /* background-position: left; */
  //   z-index: $z-index-0;
  // }

  &::after {
    content: '';
    position: absolute;
    left: 110px;
    top: -60px;
    width: 90%;
    height: 100%;
    background: url(../image/Shape-tour.png);
    background-repeat: no-repeat;
    /* background-position: left; */
    z-index: $z-index-0-1;
  }

  &-background {
    position: absolute;
    left: 50px;
    top: 0;
    background-repeat: no-repeat;
    z-index: $z-index-0-1;
  }

  &-heading {
    width: 100%;
    overflow: visible;
    h3 {
      @include text-gradient-secondary;
      font-size: $fs-heading-large;
      font-weight: 900;
      text-transform: capitalize;
      font-style: italic;
      margin-top: 60px;
    }
    p {
      font-family: $fontSecondary;
      font-size: 27px;
      margin: 20px 0;
    }

    .btn {
      font-size: 20px;
      column-gap: 10px;

      img {
        width: 15px;
      }
    }
  }

  &-wrapper {
    position: relative;
    width: 900px;
    height: 800px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
    border-radius: 62% 36% 30% 73% / 37% 41% 59% 65%;
    top: -72px;
    left: -25px;
    z-index: $z-index-1;

    // &::after {
    //   position: absolute;
    //   content: '';
    // }

    &::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 65px;
      background: url(../image/Shape-tour.png);
      width: 700px;
      height: 720px;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &-title {
    position: absolute;
    right: 140px;
    top: 80px;
    text-align: right;
    h3 {
      @include text-gradient-secondary;
      font-size: 70px;
      font-weight: 900;
      font-style: italic;
      text-transform: capitalize;
    }

    h2 {
      @include text-gradient-primary;
      font-size: 36px;
      font-weight: 900;
      font-style: italic;
    }
  }

  &-form {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 250px;

    button {
      margin-top: 30px;
      padding: 5px 30px;
      font-size: 20px;
    }

    .group {
      position: relative;
      margin-bottom: 45px;
    }

    .input-content {
      width: 85%;
      margin: 0 auto;
    }

    input {
      background: transparent;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid $clrOrange;
    }
    input:focus {
      outline: none;
    }

    label {
      text-transform: uppercase;
      color: black;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: $clrOrange;
    }

    .bar {
      position: relative;
      display: block;
      width: 100%;
    }
    .bar:before,
    .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $clrOrange;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
      width: 50%;
    }

    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }

    input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }

    @-webkit-keyframes inputHighlighter {
      from {
        background: $clrOrange;
      }

      to {
        width: 0;
        background: transparent;
      }
    }
    @-moz-keyframes inputHighlighter {
      from {
        background: $clrOrange;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @keyframes inputHighlighter {
      from {
        background: $clrOrange;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }

  .takecare {
    position: fixed;
    bottom: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    z-index: 1000;

    // .sticky {
    //   bottom: 30px;
    //   // left: 180px;
    // }
    .floating-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
      .action-btn {
        margin: 15px 0;
        background: $primary;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
      }
      &:hover {
        & > .floating-menus {
          li {
            a {
              opacity: 1;
              transform: scale(1);
            }
          }

          li {
            &:nth-child(2) a {
              transition: all 0.4s ease 0.15s;
            }
            &:nth-child(1) a {
              transition: all 0.2s ease 0.2s;
            }
          }
        }
      }
    }

    .floating-menus {
      list-style: none;

      li {
        a {
          cursor: pointer;
          border: none;
          outline: none;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
          opacity: 0;
          transform: scale(0);
          img {
            width: 40px;
            height: 40px;
          }
        }

        &:nth-child(1) {
          margin-bottom: 10px;
        }

        &:nth-child(1) a {
          transition: all 0.2s ease;
        }
        &:nth-child(2) a {
          transition: all 0.2s ease 0.05s;
        }
      }
    }
  }
}

@media (max-width: $xxxl) {
  .subscribe {
    overflow-x: hidden;
    &-wrapper {
      top: -70px;
      left: -190px;
    }
  }
}

@media (max-width: $xxl) {
  .subscribe {
    &::after {
      position: absolute;
      right: -64px;
    }
    &-heading {
      h3 {
        font-size: 80px;
      }

      p {
        font-size: 23px;
        margin: 16px 0;
      }
    }

    &-wrapper {
      top: -50px;
      left: -270px;
    }
  }
}

@media (max-width: $lg) {
  .subscribe {
    min-height: fit-content;
    padding: 20px 0;
    &::after {
      display: none;
    }

    &-background {
      left: 0px;
    }
    &-heading {
      h3 {
        font-size: 76px;
      }
      p {
        font-size: 18px;
        margin: 9px 0;
      }
    }

    .toggle-contact {
      width: 33.33333333%;
    }

    .form-content {
      width: 66.66666667%;
    }

    &-wrapper {
      position: unset;
      width: 100%;
      height: 100%;
      background-color: white;
      -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.22);
      border-radius: 30px;
      padding: 30px;

      &::before {
        width: 540px;
        height: 550px;
        top: 276px;
        left: 380px;
        z-index: 0;
      }
    }

    &-title {
      position: unset;
      text-align: center;

      h3 {
        font-size: 48px;
      }
      h2 {
        font-size: 32px;
      }
    }

    &-form {
      margin-top: 30px;
      position: relative;
      width: 90%;
      top: 0;

      .input-content {
        width: 100%;
      }

      .form-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .takecare {
      // width: 100%;
      // top: 336px;
      .btn-contact {
        .btn {
          font-size: 18px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    .floating-btn {
      .action-btn {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: $md) {
  .subscribe {
    &-background {
      left: 0px;
      top: 41px;
    }
    &-heading {
      margin-bottom: 80px;
      h3 {
        font-size: 46px;
      }
    }

    &-container {
      .form-content {
        width: 100%;
      }
    }

    &-wrapper {
      padding: 50px;
      &::before {
        width: 537px;
        height: 563px;
        top: 339px;
        left: 85px;
      }
    }

    &-title {
      text-align: center;
      h3 {
        font-size: 46px;
      }
      h2 {
        font-size: 28px;
      }
    }

    &-form {
      width: 100%;
    }

    .takecare {
      // top: 444px;
      // position: fixed;
      // z-index: 9999;
      // left: 10px;
      // width: fit-content;

      .floating-btn {
        .action-btn {
          width: 50px;
          height: 50px;
        }
      }

      .btn-contact {
        &:hover {
          transition: all 2s ease;
          p {
            display: block;
          }

          span {
            display: block;
          }

          .btn {
            width: 100%;
            height: 100%;
            padding: 5px 30px;
          }
        }

        p {
          display: none;
        }

        span {
          display: none;
        }

        .btn {
          width: 50px;
          height: 50px;
          padding: 11px 16px;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .subscribe {
    // min-height: 85vh;
    overflow: hidden;
    padding-bottom: 20px;
    &-heading {
      h3 {
        margin: 0;
        font-size: 28px;
      }
      p {
        font-size: 12px;
      }

      .btn {
        padding: 5px 21px;
        font-size: 12px;
      }
    }

    &-wrapper {
      padding: 12px;

      &::before {
        display: none;
      }
    }

    &-title {
      h3 {
        font-size: 26px;
      }

      h2 {
        font-size: 20px;
      }
    }

    &-form {
      width: 100%;
      .group {
        margin-bottom: 20px;
      }
      label {
        font-size: 12px;
      }

      input {
        font-size: 12px;
      }

      input:focus ~ label,
      input:valid ~ label {
        font-size: 10px;
      }
    }

    .takecare {
      display: none;
      // top: 542px;

      // .floating-btn {
      //   .action-btn {
      //     width: 40px;
      //     height: 40px;
      //   }
      // }

      // .btn-contact {
      //   &:hover {
      //     .btn {
      //       padding: 5px 15px;
      //     }
      //   }

      //   .btn {
      //     width: 40px;
      //     height: 40px;
      //     padding: 11px 11px;
      //   }

      //   p {
      //     font-size: 14px;
      //   }
      //   span {
      //     font-size: 12px;
      //   }
      // }
    }

    .form-btn {
      .col-3 {
        width: 30%;
      }
      .btn {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
}

// @media (max-width: $s) {
//   .subscribe {
//     .takecare {
//       top: 400px;
//     }
//   }
// }
